<div>
  <div class="text-center">
    <h1 class="mt-4">Welcome to the Poll Application</h1>
  </div>

  <div class="container mt-4">
    <h3>Create a New Poll</h3>
    <form>
      <div class="mb-3">
        <input
        [(ngModel)]="newPoll.question"
        [ngModelOptions]="{standalone:true}"
        type="text"
        class="form-control"
        id="question"
        placeholder="Enter your poll question here"/>
      </div>

      <div class="mb-3 option-container">
        <div *ngFor="let option of newPoll.options; let i = index; trackBy : trackByIndex"
          class="input-group">

          <input
          [(ngModel)]="option.optionText"
          [ngModelOptions]="{standalone:true}"
          type="text"
          placeholder="Enter Option"
          class="form-control mt-2"
          required
          />

        </div>
      </div>
      <button type="button" class="btn btn-secondary mx-2">Add Option</button>
      <button type="submit" class="btn btn-primary" (click)="createPoll()">Create Poll</button>
    </form>

  </div>

<h2 class="mt-4 text-container text-center">Available Polls</h2>
<div class="poll-container poll-list">
  <div *ngFor="let poll of polls" class="card mb-3 border rounded p-3 mb-4">
    <h4 class="card-header mb-2">{{ poll.question }}</h4>
    <div class="option-list">
      <div *ngFor="let option of poll.options; let i = index">
        <button class="btn btn-outline-primary mx-2 my-2"
        (click)="vote(poll.id,i)">
          {{ option.optionText }} ({{option.votesCount}} votes)
        </button>

      </div>
    </div>

  </div>
</div>
</div>
